<footer>
    <div class="location">
        <strong>Visit Us</strong>
        521 Balboa Street<br>
        San Francisco, CA 94118
    </div>
    <div class="hours">
        <strong>Shop Hours</strong>
        Tuesday–Sunday<br>
        Noon–7pm
    </div>
</footer>
