<header>
    <div class="header-top">
        <div class="header-left">
            <a href="/" class="logo-link">
                <img src="/images/logo.png" alt="Scenic Routes logo">
            </a>
            <div class="header-info">
                <a href="https://maps.google.com/?q=521+Balboa+Street,+San+Francisco,+CA+94118" target="_blank">521 Balboa Street, SF, CA 94118</a><br>
                Tuesday–Sunday, Noon–7pm
            </div>
        </div>
        <nav>
            <a href="/about/">About</a>
            <a href="#" target="_blank">Shop</a>
            <a href="#" target="_blank">Events</a>
            <a href="#" target="_blank">Newsletter</a>
            <a href="/membership/">Membership</a>
        </nav>
    </div>
</header>
